<div class="container-fluid pb-5 pt-4">
    <div class="row">
        <div class="col-xl-10 mx-auto">
            <h3 class="heading-font display-6 fw-bold mb-4 text-secondary lh-1 mb-3">
                فعاليات
            </h3>
            <div class="group-event border border-top-0 position-relative px-3 pb-4">
                <h5 class="fs-3 fw-bold text-secondary mb-4">
                    حرب 73
                </h5>
                <div class="row pb-2 mb-3 border-bottom">
                    <div class="col-xl-2 col-lg-3 d-none d-lg-block">
                        <div class="d-flex flex-wrap pb-2">
                            <div class="bg-light text-secondary rounded-5 py-2 px-3 text-nowrap lh-1 me-2">
                                5 يناير
                            </div>
                            <div class="bg-light text-secondary rounded-5 py-2 px-3 text-nowrap lh-1 me-2">
                                8 يناير
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <a class="d-inline-block event-summary collapsed" data-bs-toggle="collapse" href="#collapseEventOne"
                                    role="button" aria-expanded="false" aria-controls="collapseEventOne">
                                    <h4 class="text-secondary mb-2">
                                        العدوان الثلاثي
                                        <i class="arrow ms-2"></i>
                                    </h4>
                                    <h6 class="text-secondary pb-2 pt-1 mb-0 lh-base">بالتعاون مع أكادميه مصر العسكريه</h6>
                                </a>
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center  pb-2 pt-1">
                                        <i class="icon-calender me-2"></i>
                                        5 يناير 2023 الساعه 2 ظهرا
                                    </li>
                                    <li class="d-flex align-items-center  pb-2 pt-1">
                                        <i class="icon-calender me-2"></i>
                                        8 يناير 2023 الساعه5 عصرا
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-auto thumb-parent">
                                <div class="event-thumb rounded-4 overflow-hidden">
                                    <img src="../../../assets/img/event/te-2.png">
                                </div>
                            </div>
                            <div class="col-auto px-0">
                                <a class="btn btn-outline-primary px-3 border-0" data-bs-toggle="modal" data-bs-target="#confirmModal">
                                    <i class="icon-save fs-5"></i>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="collapseEventOne">
                            <ul class="list-unstyled mb-2">
                                <li class="d-flex align-items-center  pb-2 pt-1">
                                    <i class="icon-location me-2 fs-5"></i>
                                    قاعة التجارب المسرحية
                                </li>
                                <li class="d-flex align-items-center  pb-2 pt-1">
                                    <i class="icon-time me-2 fs-5"></i>
                                    <span class="text-secondary">المدة:</span> 1 ساعة 30 دقيقة
                                </li>
                            </ul>
                            <h5 class="text-secondary">تفاصيل الحدث</h5>
                            <p>
                                العدوان الثلاثى او أزمة السويس  اسم الحرب اللى قامت ما بين مصر من جهة و ما بين بريطانيا و فرنسا و اسرائيل فى سنة 1956. و كانت اسبابها تأميم جمال عبد الناصر لقناة السويس و دعم مصر لثوره الجزائر اللى كانت ضد فرنسا.وهذه الحرب تعرف ايضا بحرب 1956 و ازمة السويس.
                            </p>
                            <button class="btn btn-outline-primary ">
                                المزيد
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row pb-2 mb-3 border-bottom">
                    <div class="col-xl-2 col-lg-3 d-none d-lg-block">
                        <div class="d-flex flex-wrap pb-2">
                            <div class="bg-light text-secondary rounded-5 py-2 px-3 text-nowrap lh-1 me-2">
                                10 يناير
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <a class="d-inline-block event-summary collapsed" data-bs-toggle="collapse" href="#collapseEventTwo"
                                    role="button" aria-expanded="false" aria-controls="collapseEventTwo">
                                    <h4 class="text-secondary mb-2">
                                        ميزان القوى
                                        <i class="arrow ms-2"></i>
                                    </h4>
                                    <h6 class="text-secondary pb-2 pt-1 mb-0 lh-base">بالتعاون مع أكادميه مصر العسكريه</h6>
                                </a>
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center  pb-2 pt-1">
                                        <i class="icon-calender me-2"></i>
                                        10 يناير 2023  الساعه 2 ظهرا 
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-auto thumb-parent">
                                <div class="event-thumb rounded-4 overflow-hidden">
                                    <img src="../../../assets/img/event/te-1.png">
                                </div>
                            </div>
                            <div class="col-auto px-0">
                                <a class="btn btn-outline-primary px-3 border-0" data-bs-toggle="modal" data-bs-target="#confirmModal">
                                    <i class="icon-save fs-5"></i>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="collapseEventTwo">
                            <ul class="list-unstyled mb-2">
                                <li class="d-flex align-items-center  pb-2 pt-1">
                                    <i class="icon-location me-2 fs-5"></i>

                                </li>
                                <li class="d-flex align-items-center  pb-2 pt-1">
                                    <i class="icon-time me-2 fs-5"></i>
                                    <span class="text-secondary">المدة:</span> 
                                </li>
                            </ul>
                            <h5 class="text-secondary">تفاصيل الحدث</h5>
                            <p>

                            </p>
                            <button class="btn btn-outline-primary ">
                                المزيد
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="py-4 text-center">
                <div class="banner-970 overflow-hidden mx-auto">
                    <div class="bg-light d-flex h-100 w-100 justify-content-center align-items-center text-secondary">
                        (970X90)مساحه إعلانيه 
                    </div>
                </div>
            </div>
            <div class="px-3">
                <div class="row pb-2 mb-3 border-bottom pb-4">
                    <div class="col-xl-2 col-lg-3 d-none d-lg-block">
                        <div class="d-flex flex-wrap pb-2">
                            <div class="bg-light text-secondary rounded-5 py-2 px-3 text-nowrap lh-1 me-2">
                                12 يناير
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <a class="d-inline-block event-summary collapsed" data-bs-toggle="collapse" href="#collapseEventFour"
                                    role="button" aria-expanded="false" aria-controls="collapseEventFour">
                                    <h4 class="text-secondary mb-2">
                                        اللقاء الفكرى مع الكاتب الكبير حسين محمود
                                        <i class="arrow ms-2"></i>
                                    </h4>
                                    <h6 class="text-secondary pb-2 pt-1 mb-0 lh-base">مؤتمر انتصار الهوية</h6>
                                </a>
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center  pb-2 pt-1">
                                        <i class="icon-calender me-2"></i>
                                        12 يناير 2023  الساعه 7.30 مساء
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-auto thumb-parent">
                                <div class="event-thumb rounded-4 overflow-hidden">
                                   
                                </div>
                            </div>
                            <div class="col-auto px-0">
                                <a class="btn btn-outline-primary px-3 border-0" data-bs-toggle="modal" data-bs-target="#confirmModal">
                                    <i class="icon-save fs-5"></i>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="collapseEventFour">
                            <ul class="list-unstyled mb-2">
                                <li class="d-flex align-items-center  pb-2 pt-1">
                                    <i class="icon-location me-2 fs-5"></i>

                                </li>
                                <li class="d-flex align-items-center  pb-2 pt-1">
                                    <i class="icon-time me-2 fs-5"></i>
                                    <span class="text-secondary">المدة:</span> 
                                </li>
                            </ul>
                            <h5 class="text-secondary">تفاصيل الحدث</h5>
                            <p>

                            </p>
                            <button class="btn btn-outline-primary ">
                                المزيد
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="px-3">
                <div class="row pb-2 mb-3 border-bottom pb-4">
                    <div class="col-xl-2 col-lg-3 d-none d-lg-block">
                        <div class="d-flex flex-wrap pb-2">
                            <div class="bg-light text-secondary rounded-5 py-2 px-3 text-nowrap lh-1 me-2">
                                11 يناير
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <a class="d-inline-block event-summary collapsed" data-bs-toggle="collapse" href="#collapseEventFive"
                                    role="button" aria-expanded="false" aria-controls="collapseEventFive">
                                    <h4 class="text-secondary mb-2">
                                        منافشة رواية لماذا قتلت أعز اصدقائى
                                        <i class="arrow ms-2"></i>
                                    </h4>
                                    <h6 class="text-secondary pb-2 pt-1 mb-0 lh-base">
                                        رواية نفسية عن الصداقة والتنافس والغيرة، تتعامل مع الأشخاص الذين لديهم الدافع دائمًا لمعارضة عدم المساواة الاجتماعية
                                    </h6>
                                </a>
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex align-items-center  pb-2 pt-1">
                                        <i class="icon-calender me-2"></i>
                                        11 يناير 2023  الساعه 7.30 مساء
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-auto thumb-parent">
                                <div class="event-thumb rounded-4 overflow-hidden">
                                   
                                </div>
                            </div>
                            <div class="col-auto px-0">
                                <a class="btn btn-outline-primary px-3 border-0" data-bs-toggle="modal" data-bs-target="#confirmModal">
                                    <i class="icon-save fs-5"></i>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="collapseEventFive">
                            <ul class="list-unstyled mb-2">
                                <li class="d-flex align-items-center  pb-2 pt-1">
                                    <i class="icon-location me-2 fs-5"></i>

                                </li>
                                <li class="d-flex align-items-center  pb-2 pt-1">
                                    <i class="icon-time me-2 fs-5"></i>
                                    <span class="text-secondary">المدة:</span> 
                                </li>
                            </ul>
                            <h5 class="text-secondary">تفاصيل الحدث</h5>
                            <p>

                            </p>
                            <button class="btn btn-outline-primary ">
                                المزيد
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center pt-3">
                <button class="btn btn-outline-primary ">
                    أظهر المزيد
                </button>
            </div>
        </div>
    </div>
</div>

<!-- SAVE EVENT CONFIRMATION -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-bottom-0 pb-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center pt-0">
          <i class="icon-done text-primary display-3 mx-auto d-inline-block fw-normal overflow-visible lh-base"></i>
          <p class="text-secondary">
            تمت إضافة (اسم الفعالية) إلى <a class="link">قائمة الالفعالية</a> الخاصة بك ، يمكنك التحقق من القائمة من ملفك الشخصي على حساب معرض القاهرة للكتاب
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn text-secondary px-3" data-bs-dismiss="modal">الملف الشخصي</button>
          <button type="button" class="btn btn-secondary px-3">تصفح الفعاليات</button>
        </div>
      </div>
    </div>
  </div>