<div class="bg-secondary py-2 container-fluid">
    <!-- BANNER (970X90) -->
    <div class="banner-970 overflow-hidden d-flex justify-content-center align-items-center mx-auto">
        <!-- ADD YOUR BANNER HERE -->
        <div class="bg-white w-100 h-100 d-flex justify-content-center align-items-center">
            <p class="d-none d-lg-block mb-0">
                (970X90)مساحه إعلانيه
            </p>
            <p class="d-block d-lg-none mb-0">
                (320X100)مساحه إعلانيه
            </p>

        </div>
        <!-- ADD YOUR BANNER HERE -->
    </div>
    <!-- END BANNER (970X90) -->
</div>