
body{
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    > main{
        flex: 1;
    }
}


[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  img{
      max-width: 100%;
  }
  //layout

.max-fluid{
    max-width: $container-max-width;
}


a{
    text-decoration: none;
    cursor: pointer;
}



/*
 *  STYLE 3
 */

// ::-webkit-scrollbar-track
//  {
//      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//      background-color: #F5F5F5;
//  }
 
// ::-webkit-scrollbar
//  {
//      width: 8px;
//      background-color: #F5F5F5;
//  }
 
// ::-webkit-scrollbar-thumb
//  {
//      background-color: #252A26;
//  }

ol{
    ::marker{
        color: #252A26 !important;
    }
}