<div class="container-fluid pb-5 pt-4 mb-4">
    <div class="row">
        <div class="col-sm-auto mx-auto">
            <h6 class="mb-0 text-black-50">من 24 يناير إلى 6 فبراير2023 بمركز مصر للمعارض والمؤتمرات</h6>
            <h3 class="heading-font display-6 fw-bold text-secondary text-start lh-base mb-3">
                معرض القاهرة الدولي للكتاب الدورة <span class="num-font">54</span>
            </h3>
            <div class="position-relative">
                <div class="rounded-4 overflow-hidden box-shadow border ticket-main mx-auto">
                    <h4 class="p-3 mb-0 text-white bg-secondary pb-5">1 تذكرة مختارة</h4>
                    <div class="bg-white rounded-4 ticket-tabs px-3 pb-3">
                        <ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="individual-tab" data-bs-toggle="tab"
                                    data-bs-target="#individual-tab-pane" type="button" role="tab"
                                    aria-controls="individual-tab-pane" aria-selected="true">التذاكر</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="group-tab" data-bs-toggle="tab"
                                    data-bs-target="#group-tab-pane" type="button" role="tab" aria-controls="group-tab-pane"
                                    aria-selected="false">الباقات</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="individual-tab-pane" role="tabpanel"
                                aria-labelledby="home-tab" tabindex="0">
                                <div class="row pt-3">
                                    <div class="col text-secondary">
                                        <label class="d-block">حدد عدد التذاكر المراد شرائها</label>
                                        ثمن التذكرة: <b>5 جنيه مصري للفرد</b>
                                    </div>
                                    <div class="col-auto">
                                        <select class="form-select border-secondary ticket-selector"
                                            aria-label="Default select example">
                                            <option disabled>حدد العدد </option>
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="group-tab-pane" role="tabpanel" aria-labelledby="group-tab"
                                tabindex="0">...</div>
                        </div>
                    </div>
                    <div class="p-3 border-top border-bottom text-center">
                        <div class="banner-300X100 overflow-hidden mx-auto">
                            <img src="../../../assets/img/banner((320X100).jpg">
                        </div>
                    </div>
                    <div>
                        <h4 class="p-3 bg-secondary text-white d-flex align-items-center">
                            <i class="icon-cart fs-4 me-1"></i>
                            سلة التسوق
                        </h4>
                        <div class="row py-3 border-bottom">
                            <div class="col">
                                <h5 class="mb-0 ps-3 text-secondary">
                                    1 X تذكرة
                                </h5>
                            </div>
                            <div class="col-auto">
                                <a class="d-flex pe-3 align-items-center text-danger">
                                    <i class="icon-delete fs-6 me-1"></i>
                                    إزالة
                                </a>
                            </div>
                        </div>
                        <div class="p-3">
                            <h4 class="text-center text-secondary mb-3">المجموع 5 جنيه مصري</h4>
                            <p class="pt-1">
                                المعرض سبعة أيام في الأسبوع من الساعة 9 صباحا إلى 8 ليلا, ، آخر موعد
                                للدخول الساعة 5 ليلا.
                            </p>
                            <button class="btn btn-primary text-white w-100 text-center fs-5">
                                اختر وسيلة الدفع
                            </button>
                        </div>
                    </div>
                </div>
                <div class="top-0 ticket-ad mt-4 mt-md-0 text-center">
                    <div class="ad-160x600 overflow-hidden">
                        <img src="../../../assets/img/ad(160X600).jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>