<div class="px-2 mx-xl-1 py-2 py-lg-0 mb-1 mb-lg-0">
    <!-- add active to link if the user route to the page from menu -->
    <a class="nav-link text-secondary position-relative lh-1 d-inline-block d-md-block">المعرض</a>
</div>
<div class="px-2 mx-xl-1 py-2 py-lg-0 mb-1 mb-lg-0">
    <a class="nav-link text-secondary position-relative lh-1 d-inline-block d-md-block">دليل الزوار</a>
</div>
<div class="px-2 mx-xl-1 py-2 py-lg-0 mb-1 mb-lg-0">
    <a a class="nav-link text-secondary position-relative lh-1 d-inline-block d-md-block">دور النشر </a>
</div>
<div class="px-2 mx-xl-1 py-2 py-lg-0 mb-1 mb-lg-0">
    <a a class="nav-link text-secondary position-relative lh-1 d-inline-block d-md-block">فعاليات </a>
</div>
<div class="px-2 mx-xl-1 py-2 py-lg-0 mb-1 mb-lg-0">
    <a a class="nav-link text-secondary position-relative lh-1 d-inline-block d-md-block">المركز الإعلامي </a>
</div>
<div class="px-2 mx-xl-1 py-2 py-lg-0 mb-1 mb-lg-0">
    <a a class="nav-link text-secondary position-relative lh-1 d-inline-block d-md-block">متجر الكتب </a>
</div>
<div class="px-2 mx-xl-1 py-2 py-lg-0 mb-1 mb-lg-0">
    <a a class="nav-link text-secondary position-relative lh-1 d-inline-block d-md-block">خريطة المعرض</a>
</div>
<div class="px-2 mx-xl-1 py-2 py-lg-0 mb-1 mb-lg-0">
    <a a class="nav-link text-secondary position-relative lh-1 d-inline-block d-md-block">الجولة الإفتراضية</a>
</div>
<div class="px-2 mx-xl-1 py-2 py-lg-0 mb-1 mb-lg-0">
    <a a class="nav-link text-secondary position-relative lh-1 d-inline-block d-md-block">بوابه الناشرين</a>
</div>
<div class="px-2 mx-xl-1 py-2 py-lg-0 mb-1 mb-lg-0">
    <a a class="nav-link text-secondary position-relative lh-1 d-inline-block d-md-block">مكتبة الأسرة</a>
</div>