<div class="border-bottom py-3 d-none d-lg-block sticky-top bg-white">
    <div class="container-fluid ">
        <app-nav-links class="d-flex justify-content-center"></app-nav-links>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNav" aria-labelledby="offcanvasNavLabel">
    <div class="offcanvas-header">
        <div class="offcanvas-title">
            <a class="btn btn-primary text-white">شراء التذكرة</a>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0 border-top">
        <app-nav-links class="d-block d-lg-none offcanvas-nav-links"></app-nav-links>
        <div class="border-top pt-1  mt-2">
            <!-- <a class="text-secondary py-3 d-inline-flex align-items-center">
                                <div class="rounded-circle bg-light p-2 d-flex align-items-center justify-content-center me-2">
                                    <i class="icon-user fs-5 "></i>
                                </div>
                                <div>
                                    تسجيل دخول
                                </div>
                            
                            </a> -->
            <!-- if user loged in-->
            <div class="text-secondary pt-3 pb-2 d-inline-flex align-items-center">
                <div class="rounded-circle bg-light p-2 d-flex align-items-center justify-content-center me-2">
                    <i class="icon-user fs-5 "></i>
                </div>
                <div>
                    Ahmed Ali
                </div>
            </div>
            <ul class="list-unstyled ps-3 mb-0">
                <li><a class="text-body small py-2 d-inline-block" href="#">الملف الشخصي</a></li>
                <li><a class="text-body small py-2 d-inline-block" href="#">التذكرة</a></li>
                <li><a class="text-body small py-2 d-inline-block" href="#">تسجيل خروج</a></li>
            </ul>
        </div>
    </div>
</div>