<!-- HEADER -->
    <app-header></app-header>
    <app-nav></app-nav>
<!-- END HEADER -->

<!-- TICKET HEADER -->
    <!-- <app-ticket-header></app-ticket-header> -->
<!-- END TICKET HEADER -->

<!-- END TICKET HEADER -->
<!-- CONTENT -->
    <div class="overflow-hidden">
        <!-- <app-home></app-home> -->
        <!-- <app-ticket-info></app-ticket-info> -->
        <!-- <app-ticket-payment></app-ticket-payment> -->
        <!-- <app-ticket-confirmation></app-ticket-confirmation> -->
    </div>
<!-- END CONTENT -->

<!-- FOOTER -->
    <app-footer></app-footer>
<!-- END FOOTER -->