<!-- HERO SECTION -->
<section class="position-relative mt-1">
    <img src="../../../assets/img/hero-bg.jpg" class="w-100 position-absolute start-0 top-0 hero-bg ">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md pb-5">
                <h1 class="display-4 heading-font text-secondary lh-1 mb-4 pb-3 fw-bold">
                    معرض القاهرة الدولي للكتاب
                </h1>
                <p class="lh-lg">
                    يُعد من أكبر معارض الكتاب في الشرق الأوسط، وفي عام 2006 أُعتبر ثاني أكبر معرض بعد معرض فرانكفورت
                    الدولي للكتاب. يزور المعرض حوالي مليوني شخص سنوياً.
                </p>
                <p class="lh-lg d-none d-sm-block">
                    بدأ في عام 1969، آنذاك كانت القاهرة تحتفل بعيدها الألفي، فقرر وزير الثقافة آنذاك ثروت عكاشة الاحتفال
                    بالعيد ثقافيًا، فعهد إلى الكاتبة والباحثة سهير القلماوي بالإشراف على إقامة أول معرض للكتاب. لهذا
                    احتفلت دورة 2008 بالقلماوي باعتبارها شخصية العام.
                </p>
                <div class="pt-3">
                    <button class="btn btn-primary text-white me-3">
                        شراء التذكرة
                    </button>
                    <button class="btn btn-outline-primary bg-white">
                        دليل الزوار
                    </button>
                </div>
            </div>
            <div class="col-md px-0 hero-img-container">
                <img src="../../../assets/img/hero-img.png">
            </div>
            <div class="col-lg-3 pb-4">
                <h5 class="text-secondary mb-3">
                    معلومات الدورة 54
                </h5>
                <ul class="list-unstyled fair-info row">
                    <li class="d-flex mb-4 col-lg-12 col-md-6">
                        <div class="rounded-4 bg-secondary d-flex align-items-center justify-content-center">
                            <img src="../../../assets/img/calender-start.svg">
                        </div>
                        <div class="ps-2 d-flex flex-column justify-content-center">
                            <span class="small mb-1">
                                البدايه
                            </span>
                            <p class="text-secondary mb-0">
                                24 يناير2023
                            </p>
                        </div>
                    </li>
                    <li class="d-flex mb-4 col-lg-12 col-md-6">
                        <div class="rounded-4 bg-secondary d-flex align-items-center justify-content-center">
                            <img src="../../../assets/img/calender-end.svg">
                        </div>
                        <div class="ps-2 d-flex flex-column justify-content-center">
                            <span class="small mb-1">
                                النهايه
                            </span>
                            <p class="text-secondary mb-0">
                                6 فبراير2023
                            </p>
                        </div>
                    </li>
                    <li class="d-flex mb-4 col-lg-12 col-md-6">
                        <div class="rounded-4 bg-secondary d-flex align-items-center justify-content-center">
                            <i class="icon-location text-white fs-2"></i>
                        </div>
                        <div class="ps-2 d-flex flex-column justify-content-center">
                            <span class="small mb-1">
                                الموقع على خرائط جوجل
                            </span>
                            <p class="text-secondary mb-0">
                                مركز مصر للمعارض والمؤتمرات
                            </p>
                        </div>
                    </li>
                    <li class="d-flex align-items-center col-lg-12 col-md-6">
                        <p class="text-secondary pe-2 mb-0">
                            تحت رعايه
                        </p>
                        <div
                            class="bg-white rounded-circle shadow-sm p-1 sponsor-logo d-flex align-items-center justify-content-center me-2">
                            <img src="../../../assets/img/ministry-logo.png">
                        </div>
                        <div
                            class="bg-white rounded-circle shadow-sm p-1 sponsor-logo d-flex align-items-center justify-content-center ">
                            <img src="../../../assets/img/GBAuthority.png " class="GBAuthority">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- END HERO SECTION -->

<!-- ROUND SECTION -->
<section class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-10 col-xl-8 mx-auto">
            <h5 class="heading-font lh-lg quote mb-0 fw-bold d-none d-md-block">على اسم مصر التاريخ يقدر يقول ما شاء..أنا مصر عندي أحب
                وأجمل الأشياء</h5>
            <div class="row">
                <div class="col-md pt-md-4 d-flex flex-column justify-content-end pb-5 pb-md-0">
                    <h2 class="text-secondary lh-1 display-4 fw-bold mb-md-3 pb-md-3">
                        <span class="heading-font me-2">الدورة</span> <span class="num-font">54</span>
                    </h2>
                    <div class="bg-white rounded-4 box-shadow">
                        <header class="pt-4 p-3 lh-1">
                            <small>
                                الدولة ضيف الشرف
                            </small>
                            <h3 class="pt-3 text-secondary mb-0">
                                الْمَمْلَكَةُ الْأُرْدُنِيَةُ الْهَاشِمِيَة
                            </h3>

                        </header>
                        <div class="position-relative">
                            <img src="../../../assets/img/jordan.jpg" class="w-100 rounded-4 rounded-top-end">
                            <img src="../../../assets/img/jordan-flag.png" class="position-absolute end-0 country-flag">
                        </div>
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-end">
                    <h5 class="heading-font lh-base quote mb-0 fw-bold d-block d-md-none pb-4">على اسم مصر التاريخ يقدر يقول ما شاء..أنا مصر عندي أحب
                        وأجمل الأشياء</h5>
                    <div class="bg-white rounded-4 box-shadow row mb-4 mx-0 position-relative">
                        <img class="position-absolute round-bg top" src="../../../assets/img/round-img-top.jpg">
                        <img class="position-absolute round-bg top blend-multiply"
                            src="../../../assets/img/round-img-top.jpg">
                        <div class="col-6 ps-0">
                            <img class="rounded-4 w-100" src="../../../assets/img/Rectangle 42.jpg">
                        </div>
                        <div class="col-6 py-3 ps-0 d-flex flex-column justify-content-center">
                            <p class="mb-1">شخصية المعرض</p>
                            <h3 class="text-secondary lh-base mb-2">صلاح جاهين</h3>
                            <p class="mb-0 text-secondary  pe-2">شاعر ورسام كاريكاتير وممثل مصري يساري الفكر</p>
                        </div>
                    </div>

                    <div class="bg-white rounded-4 box-shadow row mx-0 position-relative">
                        <img class="position-absolute round-bg bottom" src="../../../assets/img/round-img-bottom.jpg">
                        <img class="position-absolute round-bg bottom blend-multiply"
                            src="../../../assets/img/round-img-bottom.jpg">
                        <div class="col-6 ps-0">
                            <img class="rounded-4  w-100" src="../../../assets/img/kamel.jpg">
                        </div>
                        <div class="col-6 py-3 ps-0 d-flex flex-column justify-content-center">
                            <p class="mb-1">شخصية معرض الطفل </p>
                            <h3 class="text-secondary lh-base mb-2">كامل كيلاني</h3>
                            <p class="mb-0 text-secondary pe-2"> رائد أدب الطفل في العالم العربي وترجمت قصصه إلى عديد من
                                اللغات</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- END ROUND SECTION -->

<div class="container-fluid">
    <!-- FAIR TOP LINKS -->
    <section class="row pt-5">
        <a class="col-6 col-lg-4 col-xl-3 pb-4">
            <div class="rounded-4 bg-primary p-3 d-flex align-items-end h-100 fair-top-link">
                <div class="text-white">
                    <div class="d-flex align-items-center">
                        <div class="map-icon rounded-circle bg-white d-flex align-items-center justify-content-center">
                            <img src="../../../assets/img/map.svg">
                        </div>
                        <div class="num-font display-4 px-2 px-md-2">808</div>
                        <span class="fs-5">جناح</span>
                    </div>
                    <h3 class="lh-1">دليل الزوار</h3>
                </div>
            </div>
        </a>
        <a class="col-6 col-lg-4 col-xl-3 pb-4">
            <div class="rounded-4 bg-secondary text-white fair-top-link">
                <h3 class="p-2 p-md-3 mb-0 lh-1 text-white">فعاليات</h3>
                <div class="rounded-4 overflow-hidden fair-top-img">
                    <img src="../../../assets/img/events.jpg">
                </div>
            </div>
        </a>
        <a class="col-6 col-lg-4 col-xl-3 pb-4">
            <div class="rounded-4 bg-secondary text-white fair-top-link">
                <h3 class="p-3 mb-0 lh-1 text-white">متجر الكتب</h3>
                <div class="rounded-4 overflow-hidden fair-top-img">
                    <img src="../../../assets/img/online-store.jpg">
                </div>
            </div>
        </a>
        <div class="col-md-6 col-lg-4 col-xl-3 pb-4 d-md-block d-flex order--1 justify-content-center">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="banner-336x250 overflow-hidden d-md-inline-block d-none">
                    <img src="../../../assets/img/ads336X250.jpg">
                </div>
                <div class="banner-300X100 overflow-hidden d-md-none d-inline-block">
                    <img src="../../../assets/img/banner((320X100).jpg">
                </div>
                
            </div>
        </div>
        <a class="col-6 col-lg-4 col-xl-3 pb-4">
            <div class="rounded-4 bg-secondary text-white fair-top-link">
                <h3 class="p-3 mb-0 lh-1 text-white">المركز الإعلامي</h3>
                <div class="rounded-4 overflow-hidden fair-top-img">
                    <img src="../../../assets/img/media.jpg">
                </div>
            </div>
        </a>
        <a class="col-6 col-lg-4 col-xl-3 pb-4 d-md-block order-1 order-md-0">
            <div class="rounded-4 overflow-hidden fair-top-img p-3 d-flex align-items-start h-100 position-relative bookstore-link">
                <img src="../../../assets/img/bookstore.jpg" class="position-absolute top-0 start-0 w-100 h-100">
                <div class="text-white">
                    <div class="d-flex align-items-center">
                        <div class="map-icon rounded-circle bg-white d-flex align-items-center justify-content-center">
                            <img src="../../../assets/img/store.svg">
                        </div>
                        <div class="num-font display-4 px-2">1008</div>
                    </div>
                    <h3 class="lh-1">دور النشر </h3>
                </div>
            </div>
        </a>
        <div class="col-md-6 col-lg-4 col-xl-3 pb-4">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="banner-336x250 overflow-hidden d-md-inline-block d-none">
                    <img src="../../../assets/img/ads336X250.jpg">
                </div>
                <div class="banner-300X100 overflow-hidden d-md-none d-inline-block">
                    <img src="../../../assets/img/banner((320X100).jpg">
                </div>
            </div>
        </div>
        <a class="col-6 col-lg-4 col-xl-3 pb-4 order-1 order-md-0">
            <div class="rounded-4 bg-secondary text-white fair-top-link">
                <h3 class="p-3 mb-0 lh-1 text-white">خريطة المعرض</h3>
                <div class="rounded-4 overflow-hidden fair-top-img">
                    <img src="../../../assets/img/fair-map.jpg">
                </div>
            </div>
        </a>
    </section>
    <!-- END FAIR TOP LINKS -->

    <!-- SPONSORS -->
    <div class="row pt-5 pb-lg-5 pb-4">
        <div class="col text-center">
            <div class="d-inline-flex flex-column">
                <h3 class="heading-font display-5 fw-bold mb-3 text-secondary text-start lh-base">معرض الكتاب برعاية
                </h3>
                <ul class="list-unstyled row justify-content-center sponsors-list mb-0">
                    <li class="col-xl-auto col-md col-4 mb-4 mb-4">
                        <div class="border rounded-4 p-3 d-flex align-items-center h-100 justify-content-center">
                            <img src="../../../assets/img/sponsors/eiec.png">
                        </div>
                    </li>
                    <li class="col-xl-auto col-md col-4 mb-4 mb-4">
                        <div class="border rounded-4 p-3 d-flex align-items-center h-100 justify-content-center">
                            <img src="../../../assets/img/sponsors/Dmedia.png">
                        </div>
                    </li>
                    <li class="col-xl-auto col-md col-4 mb-4">
                        <div class="border rounded-4 p-3 d-flex align-items-center h-100 justify-content-center">
                            <img src="../../../assets/img/sponsors/Nbank.png">
                        </div>
                    </li>
                    <li class="col-xl-auto col-md col-4 mb-4">
                        <div class="border rounded-4 p-3 d-flex align-items-center h-100 justify-content-center">
                            <img src="../../../assets/img/sponsors/sbied.png">
                        </div>
                    </li>
                    <li class="col-xl-auto col-md col-4 mb-4">
                        <div class="border rounded-4 p-3 d-flex align-items-center h-100 justify-content-center">
                            <img src="../../../assets/img/sponsors/egypt-post.png">
                        </div>
                    </li>
                    <li class="col-xl-auto col-md col-4 mb-4">
                        <div class="border rounded-4 p-3 d-flex align-items-center h-100 justify-content-center">
                            <img src="../../../assets/img/sponsors/storytel.png">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END SPONSORS -->

    <!-- ADD -->
    <div class="row pb-3 position-relative">
        <div class="col text-center">
            <img src="../../../assets/img/open-book.jpg" class="position-absolute end-0 open-book-bg">
            <!-- BANNER (970X90) -->
            <div
                class="banner-970 overflow-hidden d-flex justify-content-center align-items-center mx-auto banner-zindex position-relative">
                <!-- ADD YOUR BANNER HERE -->
                <div class="bg-light text-secondary w-100 h-100 d-flex justify-content-center align-items-center">
                    <p class="d-none d-lg-block mb-0">
                        (970X90)مساحه إعلانيه
                    </p>
                    <p class="d-block d-lg-none mb-0">
                        (320X100)مساحه إعلانيه
                    </p>

                </div>
                <!-- ADD YOUR BANNER HERE -->
            </div>
            <!-- END BANNER (970X90) -->
        </div>
    </div>
    <!-- END ADD -->

    <!-- TOP EVENTS AND MEDIA -->
    <div class="pb-5 pt-lg-5 pt-4">
        <h3 class="heading-font display-5 fw-bold mb-3 text-secondary text-start lh-base">
            أبرز أحداث الدورة <span class="num-font">54</span>
        </h3>
        <div class="pt-3 d-flex">
            <div>
                <div class="bg-secondary rounded-4 fair-top-link h-100 swiper-event-element">
                    <div class="rounded-4 overflow-hidden fair-top-img">
                        <img src="../../../assets/img/event/te-1.png" class="w-100">
                    </div>
                    <div class="p-3 pt-2 text-white">
                        <label class="bg-primary rounded-5 tag pt-2 lh-1 mb-2">حرب 73</label>
                        <h5 class="mb-2">ميزان القوى</h5>
                        <div class="d-flex">
                            <i class="icon-calender fs-6 pt-1 me-1 text-light"></i>
                            10 يناير 2032
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="bg-secondary rounded-4 fair-top-link h-100 swiper-event-element">
                    <div class="rounded-4 overflow-hidden fair-top-img">
                        <img src="../../../assets/img/event/te-3.png" class="w-100">
                    </div>
                    <div class="p-3 pt-2 text-white">
                        <h5 class="lh-lg">7 ملامح من معرض القاهرة الدولي للكتاب 2023 «الثقافة وبناء الوعي»</h5>
                    </div>
                </div>
            </div>
            <div>
                <div class="bg-secondary rounded-4 fair-top-link h-100 swiper-event-element">
                    <div class="rounded-4 overflow-hidden fair-top-img">
                        <img src="../../../assets/img/event/te-4.png" class="w-100">
                    </div>
                    <div class="p-3 pt-2 text-white">
                        <h5 class="lh-lg">كواليس اختيار صلاح جاهين شخصية معرض القاهرة الدولي للكتاب 2023</h5>
                    </div>
                </div>
            </div>
            <div>
                <div class="bg-secondary rounded-4 fair-top-link h-100 swiper-event-element">
                    <div class="rounded-4 overflow-hidden fair-top-img">
                        <img src="../../../assets/img/event/te-2.png" class="w-100">
                    </div>
                    <div class="p-3 pt-2 text-white">
                        <label class="bg-primary rounded-5 tag pt-2 lh-1 mb-2">حرب 73</label>
                        <h5 class="mb-2">العدوان الثلاثي</h5>
                        <div class="d-flex">
                            <i class="icon-calender fs-6 pt-1 me-1 text-light"></i>
                            10 يناير 2032
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center pt-4">
            <a class="btn btn-primary mx-2 text-white">
                <span class="d-none d-md-block">
                    تصفح مفكرة فعاليات الدورة 45
                </span>
                <span class="d-block d-md-none">
                    الفعاليات
                </span>
            </a>
            <a class="btn btn-primary mx-2 text-white">
                <span class="d-none d-md-block">
                    تصفح المركز الإعلامي للدورة 45
                </span>
                <span class="d-block d-md-none">
                    الفعاليات
                </span>
            </a>
        </div>
    </div>
    <!-- END TOP EVENTS AND MEDIA -->
</div>
<!-- NEWST BOOKS -->
<div class="py-5 bg-light container-fluid mt-3">
    <h3 class="heading-font display-5 fw-bold mb-4 text-secondary text-start lh-1">
        أحدث إصدارات متجر الكتب
    </h3>
    <ul class="list-unstyled d-flex pt-1 mb-3">
        <li class="me-2">
            <a class="tag rounded-5 border bg-white pt-2 lh-1 text-body filter d-block active">
                الكل
            </a>
        </li>
        <li class="me-2">
            <a class="tag rounded-5 border bg-white pt-2 lh-1 text-body d-block filter">
                إصدارات رقميه 
            </a>
        </li>
        <li class="me-2">
            <a class="tag rounded-5 border bg-white pt-2 lh-1 text-body d-block filter">
                إصدارات ورقيه 
            </a>
        </li>
    </ul>
    <app-book-list-related></app-book-list-related>
    <div class="text-center pt-3">
        <a class="btn btn-primary text-white ">
            تصفح متجر الكتب
        </a>
    </div>
</div>
<!-- END NEWST BOOKS -->
