<div class="container-fluid pt-4 pb-5 mb-3 register">
    <div class="row">
        <div class="col-lg-4 mx-auto">
            <header class="pb-2">
                <h3 class="text-secondary">نسيت رقمك السري؟</h3>
                <p>اكتب عنوان بريدك الإلكتروني. سنرسل لك رابطًا عبر البريد الإلكتروني لتغيير كلمة المرور الخاصة بك.</p>
            </header>
            <!-- <div class="alert alert-danger" role="alert">
                عنوان البريد الإلكتروني الخاص بك و / أو كلمة المرور غير صحيحة.
              </div> -->
            <form class="mx-auto g-3 needs-validation" novalidate>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                    <label for="floatingInput">البريد الإلكتروني</label>
                    <div class="invalid-feedback">
                        يرجى تقديم عنوان بريد إلكتروني صالح.
                    </div>
                </div>

                <div class="form-actions">
                    <button type="button" class="btn btn-primary w-100 text-white mb-3 fs-5">أرسل لي الرابط</button>
                </div>
            </form>
        </div>
    </div>
</div>
