<div class="container-fluid pt-4 mt-sm-4 pb-5">
    <div class="row justify-content-center pb-4">
        <div class="col-sm-auto row align-items-md-center">
            <div class="col">
                <div class="store-img-details border rounded-circle p-1 bg-white store-img">
                    <img class="rounded-circle" src="../../../assets/img/bookstore/image 412137-1.png">
                </div>
            </div>

            <div class="store-info col-sm-auto">
                <div class="row border-bottom mb-2">
                    <div class="col-md">
                        <h3 class="text-secondary">الشروق للمكتبات</h3>
                        <p class="mb-2 d-none d-md-block">1181 كتاب - 417 كاتب</p>
                    </div>
                    <div class="col-md-auto d-none d-md-block">
                        <button class="btn btn-outline-primary d-flex" data-bs-toggle="modal"
                            data-bs-target="#confirmModal">
                            <i class="icon-save fs-6 me-2"></i>
                            حفظ دار النشر
                        </button>
                    </div>
                </div>
                <h4 class="text-secondary mb-3">
                    <span class="fs-6 d-md-block mb-2"> الموقع في المعرض :</span>
                    قاعه2 بلوك 3C
                </h4>
                <button class="btn btn-outline-primary d-flex mb-3 d-md-none w-100 justify-content-center"
                    data-bs-toggle="modal" data-bs-target="#confirmModal">
                    <i class="icon-save fs-6 me-2"></i>
                    حفظ دار النشر
                </button>
                <a target="_blank"
                    class="d-inline-flex bg-white text-secondary px-3 py-2 lh-1 border rounded-4 align-items-center mb-2 ltr">
                    <i class="icon-link fs-5 ms-2"></i> www.shoroukbookstores.com
                </a>
                <div class="d-flex flex-wrap">
                    <a target="_blank"
                        class="facebook-color d-inline-flex bg-white px-3 py-2 lh-1 border rounded-4 align-items-center mb-2 mb-md-0 me-2 ltr">
                        <img class="ms-1" src="../../../assets/img/Facebook.svg">
                        /shoroukbookstore
                    </a>
                    <a target="_blank"
                        class="twitter-color d-inline-flex bg-white px-3 py-2 lh-1 border rounded-4 align-items-center mb-2 mb-md-0 me-2 ltr">
                        <img class="ms-1" src="../../../assets/img/twitter.svg">
                        /shoroukbookstore
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row pb-5">

        <div class="col">
            <ul class="nav nav-tabs text-center justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active fs-5" id="home-tab" data-bs-toggle="tab"
                        data-bs-target="#books-tab-pane" type="button" role="tab" aria-controls="books-tab-pane"
                        aria-selected="true">الكتب</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fs-5" id="profile-tab" data-bs-toggle="tab" data-bs-target="#about-tab-pane"
                        type="button" role="tab" aria-controls="about-tab-pane" aria-selected="false">عن دار
                        النشر</button>
                </li>
                <li class="nav-item" role="presentation">
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="books-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                    tabindex="0">
                    <div class="row pt-3 position-relative">
                        <div class="col">
                            <div class="table-responsive">
                                <ul class="list-unstyled d-flex mb-0 justify-content-md-center">
                                    <li class="me-2">
                                        <a
                                            class="tag rounded-5 border bg-white pt-2 lh-1 text-body filter d-block text-nowrap active">
                                            الكل
                                        </a>
                                    </li>
                                    <li class="me-2">
                                        <a
                                            class="tag rounded-5 border bg-white pt-2 lh-1 text-body d-block filter text-nowrap">
                                            إصدارات رقميه
                                        </a>
                                    </li>
                                    <li class="me-2">
                                        <a
                                            class="tag rounded-5 border bg-white pt-2 lh-1 text-body d-block filter text-nowrap">
                                            إصدارات ورقيه
                                        </a>
                                    </li>
                                    <li class="me-2">
                                        <a
                                            class="tag rounded-5 border bg-white pt-2 lh-1 text-body d-block filter text-nowrap">
                                            ثقافه وادب
                                        </a>
                                    </li>
                                    <li class="me-2">
                                        <a
                                            class="tag rounded-5 border bg-white pt-2 lh-1 text-body d-block filter text-nowrap">
                                            علوم
                                        </a>
                                    </li>
                                    <li class="me-2">
                                        <a
                                            class="tag rounded-5 border bg-white pt-2 lh-1 text-body d-block filter text-nowrap">
                                            كتب مترجمه
                                        </a>
                                    </li>
                                    <li class="me-2">
                                        <a
                                            class="tag rounded-5 border bg-white pt-2 lh-1 text-body d-block filter text-nowrap">
                                            معارف عامه
                                        </a>
                                    </li>
                                    <li class="border-start ps-2">
                                        <a class="tag rounded-5 border bg-white py-1 lh-1 filter d-flex align-items-center h-100"
                                            data-bs-toggle="collapse" href="#collapseSearchStore" role="button"
                                            aria-expanded="false" aria-controls="collapseSearchStore">
                                            <i class="icon-search fs-4 text-secondary"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="collapse bg-white position-absolute top-0 start-0 pt-2" id="collapseSearchStore">
                            <form class="d-flex align-items-center col-md-8 mx-auto">
                                <div class="input-group pe-3">
                                    <div class="form-floating is-invalid">
                                        <input type="search" class="form-control" id="floatingInputSearch"
                                            placeholder="Username" required>
                                        <label for="floatingInputGroup2">إبحث عن كتاب في (إسم المكتبه)</label>
                                    </div>
                                    <button class="btn btn-primary text-white px-3" data-bs-dismiss="modal">
                                        <i class="icon-search fs-4"></i>
                                    </button>
                                </div>
                                <button type="button" class="btn-close bg-white p-2 rounded-circle"
                                    data-bs-toggle="collapse" data-bs-target="#collapseSearchStore"
                                    aria-expanded="false" aria-controls="collapseSearchStore"></button>
                            </form>
                        </div>

                    </div>
                    <div class="row pt-4">
                        <!-- NO RESULT MESSAGE  -->
                        <!-- <div class="col-12">
                            <app-no-date></app-no-date>
                        </div> -->
                        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-md-5 mb-4">
                            <app-book-list-item></app-book-list-item>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-md-5 mb-4">
                            <app-book-list-item></app-book-list-item>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-md-5 mb-4">
                            <app-book-list-item></app-book-list-item>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-md-5 mb-4">
                            <app-book-list-item></app-book-list-item>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-md-5 mb-4">
                            <app-book-list-item></app-book-list-item>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-md-5 mb-4">
                            <app-book-list-item></app-book-list-item>
                        </div>

                        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-md-5 mb-4">
                            <app-book-list-item></app-book-list-item>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-md-5 mb-4">
                            <app-book-list-item></app-book-list-item>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-md-5 mb-4">
                            <app-book-list-item></app-book-list-item>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-md-5 mb-4">
                            <app-book-list-item></app-book-list-item>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-md-5 mb-4">
                            <app-book-list-item></app-book-list-item>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-6 mb-md-5 mb-4">
                            <app-book-list-item></app-book-list-item>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="d-inline-block btn btn-outline-primary ">
                            أظهر المزيد
                        </a>
                    </div>
                </div>
                <div class="tab-pane fade" id="about-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                    tabindex="0">
                    <div class="p-3 text-secondary">
                        <p class=" lh-lg">
                            شركة «الشروق للمكتبات» هى إحدى شركات مجموعة الشروق، وهى تمثل الامتداد الطبيعي لدار
                            الشروق التي تأسست عام 1968 وتحولت على مر السنين من كونها ناشرًا مستقلًّا لتصبح دار نشر
                            رائدة فى منطقة الشرق الأوسط رسَّخت مكانتها بما لديها من قناعات قوية بقِيَم نشر الثقافة
                            والعلم وأثر ذلك على تقدم ورُقي المجتمع، وباحتفاظها بحقوق نشر أكبر الكُتاب والمؤلفين في
                            المنطقة العربية، والذي حاز العديد منهم أهم الجوائز العربية والعالمية.
                        </p>
                        <b>عناوين فروع مكتبات الشروق</b>
                        <ul class="list-unstyled pt-2 list-style mb-2 ">
                            <li class="pb-2">سيتي ستارز: سيتى ستارز مول - الدور الأول - مدخل 7</li>
                            <li class="pb-2">طلعت حرب : 1 ميدان طلعت حرب</li>
                            <li class="pb-2">المهندسين: ٣ شارع عبد الحميد لطفي، متفرع من</li>
                            <li class="pb-2">كايرو فستيفال سيتي : كايرو فيستيفال سيتى مول - التجمع</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pt-0">
                <i
                    class="icon-done text-primary display-3 mx-auto d-inline-block fw-normal overflow-visible lh-base"></i>
                <p class="text-secondary">
                    تمت إضافة (اسم مكتبة) إلى <a class="link">قائمة المكتبات</a> الخاصة بك ، يمكنك التحقق من القائمة من
                    ملفك الشخصي على حساب معرض القاهرة للكتاب
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn text-secondary px-3" data-bs-dismiss="modal">الملف الشخصي</button>
                <button type="button" class="btn btn-secondary px-3" data-bs-dismiss="modal">إغلاق </button>
            </div>
        </div>
    </div>
</div>