<div class="container-fluid pb-5 pt-4 mb-4">
    <div class="row">
        <div class="col-sm-auto mx-auto">
            <h3 class="heading-font display-6 fw-bold text-secondary text-start lh-base mb-3">
                إختر وسيلة الدفع المناسبه
            </h3>
            <div class="position-relative">
                <div class="rounded-4 overflow-hidden box-shadow border ticket-main mx-auto">
                    <h4 class="p-3 mb-0 text-white bg-secondary pb-5 d-flex align-items-center">
                        <div class="flex-fill">1 تذكرة مختارة</div>
                        <div class="fs-6 text-light">المجموع: 5 جنيه مصري </div>
                    </h4>
                    <div class="bg-white rounded-4 ticket-tabs px-3 pb-3 ">
                        <div class="pt-3" role="group" aria-label="Basic radio toggle button group">
                            <div class="mb-3 position-relative">
                                <input type="radio" class="btn-check form-check-input top-50 start-0 translate-middle-y ms-3 mt-0" name="btnradio" id="btnradio1" autocomplete="off" checked>
                                <label class="btn btn-light w-100 text-start pe-3 ps-4" for="btnradio1">
                                    <div class="row">
                                        <div class="col ms-3 d-flex align-items-center">
                                            بطاقة الائتمان
                                        </div>
                                        <div class="col-auto d-flex">
                                            <img class="me-2" src="../../../assets/img/master-card.svg">
                                            <img src="../../../assets/img/visa.svg">
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="mb-3 position-relative">
                                <input type="radio" class="btn-check form-check-input top-50 start-0 translate-middle-y ms-3 mt-0" name="btnradio" id="btnradio2" autocomplete="off">
                                <label class="btn btn-light w-100 text-start pe-3 ps-4" for="btnradio2">
                                    <div class="row">
                                        <div class="col ms-3 d-flex align-items-center">
                                            ميزة
                                        </div>
                                        <div class="col-auto d-flex">
                                            <img src="../../../assets/img/meeza.png" class="meeza">
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="position-relative">
                                <input type="radio" class="btn-check form-check-input top-50 start-0 translate-middle-y ms-3 mt-0" name="btnradio" id="btnradio3" autocomplete="off">
                                <label class="btn btn-light w-100 text-start pe-3 ps-4" for="btnradio3">
                                    <div class="row">
                                        <div class="col ms-3 d-flex align-items-center">
                                            طرق أخرى
                                        </div>
                                        <div class="col-auto d-flex">
                                            <img src="../../../assets/img/masary.png" class="masary me-2">
                                            <img src="../../../assets/img/fawry.png" class="fawry me-2">
                                            <img src="../../../assets/img/aman.png" class="aman">
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 border-top border-bottom text-center bg-white">
                        <div class="banner-300X100 overflow-hidden mx-auto">
                            <img src="../../../assets/img/banner((320X100).jpg">
                        </div>
                    </div>
                    <div class="p-3">
                        <button class="btn btn-primary text-white w-100 text-center fs-5">
                            اختر وسيلة الدفع
                        </button>
                    </div>
                </div>
                <div class="top-0 ticket-ad mt-4 mt-md-0 text-center">
                    <div class="ad-160x600 overflow-hidden mx-auto">
                        <img src="../../../assets/img/ad(160X600).jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
