<div class="container-fluid pb-5 pt-md-5 pt-3 my-0 my-md-5">
    <div class="row">
        <div class="col-xl-8 col-lg-10 mx-auto position-relative d-flex flex-column flex-md-row">
            <div class="visitors-hero-text">
                <h3 class="heading-font display-6 fw-bold mb-4 text-secondary lh-1">
                    دليل الزوار
                </h3>
                <div class="rounded-4 bg-white border-2 border-start border-primary p-3 shadow-custom">
                    <div class="fs-5 text-secondary pb-3 lh-lg">
                    نوصي بحجز تذكرتك عبر الإنترنت قبل زيارتك ، وبهذه الطريقة ستتخطى أي قوائم انتظار عند الدخول للمعرض
    
                    </div>
                    <button class="btn btn-primary text-white position-relative">
                        شراء التذكرة
                    </button>
                </div>
            </div>
            <div class="visitors-hero text-center">
                <img  src="../../../assets/img/visitors-hero.jpg">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-10 mx-auto">
            <div class="accordion accordion-flush border-bottom">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed fs-4 text-secondary py-4 lh-base" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        مواعيد الزيارة للجمهور
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" >
                    <div class="accordion-body text-secondary">
                      <p>
                        يستقبل معرض القاهرة الدولي للكتاب في دورته الـ 54  زواره ابتداء من يوم الثلاثاء 26 يناير 2023، وينتظرهم حتى يوم الاثنين 6 فبراير في هذه المواعيد المحددة من قبل الهيئة العامة للكتاب
                      </p>
                      <ul class="list-unstyled list-style mb-0">
                        <li class="pb-2">من السبت إلى الأربعاء تقام مواعيد معرض الكتاب من 10 صباحا إلى 8 مساء.</li>
                        <li class="pb-2">يوم الخميس تقام مواعيد معرض الكتاب من 10 صباحا إلى 9 مساء.</li>
                        <li class="pb-2">يوم الجمعة تقام مواعيد معرض الكتاب من الواحدة ظهرا إلى 9 مساء.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed fs-4 text-secondary py-4 lh-base" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        عنوان معرض القاهرة الدولي للكتاب
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
                    <div class="accordion-body text-secondary position-relative">
                      <div class=" overflow-hidden rounded-4">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d27638.237448978496!2d31.381824999999996!3d30.014482000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x492fa96d046d8955!2sEgypt%20International%20Exhibition%20Center%20-%20EIEC!5e0!3m2!1sen!2seg!4v1671543251278!5m2!1sen!2seg" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                      </div>
                      <a href="https://goo.gl/maps/1dgiu7Tyxyk94F4Z6" target="_blank">
                        <div class="bg-white rounded-4 d-flex shadow map-address p-3 w-100 position-absolute top-50 start-50 translate-middle">
                          <div class="map-icon pt-2">
                            <i class="icon-location text-primary fs-4 flex-fill"></i>
                          </div>
                            <p class="mb-0 ps-2 text-secondary">
                              بجوار جامع المشير طنطاوى، محور المشير طنطاوي، الحي العاشر، مدينة نصر، محافظة القاهرة‬ 4440301
  
                            </p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed fs-4 text-secondary py-4 lh-base" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        الأتوبيسات المخصصة لنقل المواطنين إلى المعرض
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree">
                    <div class="accordion-body text-secondary">
                      <p>يمكن الوصول إلى عنوان معرض القاهرة الدولي للكتاب من خلال أتوبيسات النقل العام، أو الأتوبيسات المخصصة لنقل المواطنين إلى المعرض فقط، وتتواجد في أماكن متنوعة.</p>
                      <ul class="list-style list-unstyled">
                        <li class="pb-3">
                          <b>الخط الأول </b>
                          <p class="mb-0">عبد المنعم رياض – رمسيس – عباسية – جامعة الأزهر – محور المشير – معرض الكتاب.</p>
                        </li>
                        <li class="pb-3">
                          <b>الخط الثاني </b>
                          <p class="mb-0">
                            دوران شبرا – ش شبرا – أحمد حلمي – ش رمسيس – عباسية – نادي السكة – جامعة الأزهر – محور المشير – معرض الكتاب.
                          </p>
                        </li>
                        <li class="pb-3">
                          <b>الخط الثالث </b>
                          <p class="mb-0">
                            النزهة الجديدة – ميدان الحجاز – السبع عمارات – مكرم عبيد – مصطفى النحاس – المنهل – الوفاء والأمل – معرض الكتاب
                          </p>
                        </li>
                        <li class="pb-3">
                          <b>الخط الرابع</b>
                          <p class="mb-0">
                            الأميرية – ميدان المطرية – الحلمية – كليةنات عين شمس – ميدان رابعة – الحي السابع – حي السفارات – معرض الكتاب.
                          </p>
                        </li>
                        <li class="pb-3">
                          <b>الخط الخامس</b>
                          <p class="mb-0">
                            ميدان الجيزة – جامعة القاهرة – القصر العيني – السيدة عائشة – الأتوستراد – جامعة الأزهر – معرض الكتاب.
                          </p>
                        </li>
                        <li class="pb-3">
                          <b>الخط السادس</b>
                          <p class="mb-0">
                            صقر قريش – كارفور المعادي – نادي وادي دجلة – الطريق الدائري – محور المشير – معرض الكتاب.
                          </p>
                        </li>
                        <li class="pb-3">
                          <b>الخط السابع</b>
                          <p class="mb-0">
                            المظلات – سراي القبة – روكسي – السبع عمارات – الحي الثامن – الوفاء والأمل – محور المشير – معرض الكتاب.
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                      <button class="accordion-button collapsed fs-4 text-secondary py-4 lh-base" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        سعر تذكرة معرض الكتاب
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour">
                      <div class="accordion-body text-secondary">
                        <p>يبلغ سعر تذكرة معرض الكتاب<b> 5 جنيهات</b> فقط مع العلم أن دخول المعرض والخروج منه يكلف تذكرة واحدة، مثل عملية ركوب المترو تماما.</p>
                        <p>
                          يتم حجز تذاكر معرض الكتاب  بطريقتين إما من خلال المنصة الرقمية للمعرض، وإما من خلال شباك التذاكر، المجاور لباب دخول المعرض، ويمكن دفع قميه التذكرة أيضا عن طريق خدمة فوري، أو بالفيزا.
                        </p>
                        <b>خطوات حجز تذاكر معرض الكتاب</b>
                        <ul class="list-style list-unstyled mb-0 pt-3">
                          <li class="pb-3">
                            الدخول على الرابط الخاص <a class="text-primary"> بحجز التذاكر </a>
                          </li>
                          <li class="pb-3">
                            تسجيل بعض البيانات المطلوبة والخاصة بالزائر مثل رقم الهاتف
                          </li>
                          <li class="pb-3">
                            بعد إتمام البيانات سيقوم الرابط بإرسال نسخة من تذكرة معرض الكتاب في رسالة عبر تطبيق واتساب، ونسخة على البريد الإلكتروني، تشمل تفاصيل يوم الدخول والوقت المحدد للزيارة.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                      <button class="accordion-button collapsed fs-4 text-secondary py-4 lh-base" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        معرض كتاب الطفل
                      </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive">
                      <div class="accordion-body text-secondary">
                        
                      </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
</div>
